# Introduction To Python
## Section 1 - Data Types

Welcome to Azure Notebooks!  
You can write and run your own python code here without installing anything.  
Have a go at printing a string.  
Hold shift and press return to run the cell below or press the 'Run' button above to run the cell.  
You can insert more cells or delete cells using functions in the menus above.

In [1]:
print("Welcome to Introduction to Python")

Welcome to Introduction to Python

Have a go at printing your own string here.  
Write your code below then hold shift and press return.

In [2]:
print("This is my own string")

This is my own string

You can assign a string to a variable and print the variable

In [3]:
# You can assign a string to a variable and print the variable
a = "This is the first half of a sentence, "
b = "and this is its second half"
print(a)
print(a + b)

This is the first half of a sentence,
This is the first half of a sentence, and this is its second half

Assign the string "Empowering every person and every organisation on the planet to achieve more" to the variable `mission`, then print this variable

In [4]:
mission = "Empowering every person and every organisation on the planet to achieve more"
print(mission)

Empowering every person and every organisation on the planet to achieve more

Assign variables `a` and `b` to integers of your choice, then add them together and print the results

In [5]:
a = 12
b = 4

print(a + b)

16

Now subtract b from a, and print the result

In [6]:
print(a - b)

8

Now print a multiplied by b

In [7]:
print(a * b)

48

Now print a divided by b

In [8]:
# Divide a by b and print the result
print(a / b)

3

Print the remainder of a divided by b

In [9]:
print(a % b)

0

Print a squared plus b to the power of 3

In [10]:
print(a ** 2 + b ** 3)

208

Run the cell below:

In [11]:
# This is an unformatted string
my_str = "I have {} apples and {} pears"

# We can format it as follows
apples = 5
pears = 4

print(my_str.format(apples, pears))

I have 5 apples and 4 pears

Now try it for yourself, define your own unformatted string and format it using the format function or an f string

In [12]:
# Now define your own unformatted string and format it using the format function or an f string
my_unformatted_string = "I have {} cars and they are all {}"

quant = 5
colour = 'blue'

print(my_unformatted_string.format(quant, colour))

I have 5 cars and they are all blue

You can re-assign a variable, and even change its type.  
Run this cell and follow what is happening on each line.

In [13]:
x = 5
print(x)
x = x + 4
print(x)
y = 12
x = y + 10
print(x)
x = "X is now a string"
print(x)

5
9
22
X is now a string

This is an example of a list.  
Using integer indexing print crackle from this list:

In [14]:
example_list = ["Snap", "Crackle", "Pop"]

example_list[1]

'Crackle'

Create your own list of 6 different items and set it to the variable `my_list`.  
Have a go at printing the first item.

In [15]:
my_list = ['one', 'two', 'three', 'four', 'five', 'six']
print(my_list[0])

one

Now print the last item of the list (without using the number 5)

In [16]:
print(my_list[-1])

six

In one line of code, print the 2nd, 3rd and 4th items from your list.

In [17]:
print(my_list[1:4])

['two', 'three', 'four']

Now print all the items in the list from the 3rd item onwards

In [18]:
print(my_list[2:])

['three', 'four', 'five', 'six']

What do you get if you add the 2nd number in the list_of_numbers below to the 4th Number?

In [19]:
list_of_numbers = [4, 2.5, 7, 19, 12, 1, 0, 22]

What do you get if you divide the 5th number in the `list_of_numbers` by the 1st number?

In [20]:
list_of_numbers[4] / list_of_numbers[0]

3

What do you get if you raise the last number in the `list_of_numbers` by the penultimate number?

In [21]:
list_of_numbers[-1] ** list_of_numbers[-2]

1

Assign the example dict below to the variable `microsoft`

In [22]:
microsoft = { 
    "Name": "Microsoft",
    "Employees": 134944,
    "Revenue_2018_USD_bns": 110.36,
    "Founders": ["Bill Gates", "Paul Allen"],
    "HQ": "Redmond, Washington, Seattle, USA",
    "Founding_Year": 1975,
    "Products": ["Azure", "Windows", "Surface", "Xbox"]
}

If $1 is €0.88, print out what Microsoft's revenue is in Euros.

In [23]:
(microsoft['Revenue_2018_USD_bns'] * 10 ** 9) * 0.88

97116800000.0

How many years old is Microsoft?

In [24]:
print("Microsoft is {} years old".format(2019 - microsoft['Founding_Year']))

Microsoft is 44 years old

Have a go at defining your own dict and select some values from it

In [25]:
my_dict = {'key1': 'val1', 'key2': 33, 'key3': 42}
print(my_dict['key2'] + my_dict['key3'])

75

## Section 2 - Functions

Defining functions, remember that python is indentation-significant.  
This function takes two numbers as parameters, adds them together and prints the result.

In [26]:
def add_numbers(x1, x2):
    y = x1 + x2
    print(y)

In [27]:
# try calling the function
add_numbers(10, 15)

25

In [28]:
# Choose some numbers and call the function yourself
add_numbers(12, 76)

88

Call the function below with your own name as the parameter

In [29]:
def happy_birthday(name):
    print("Happy Birthday to you")
    print("Happy Birthday to you")
    print("Happy Birthday dear " + name)
    print("Happy Birthday to you")

happy_birthday('Ben')

Happy Birthday to you
Happy Birthday to you
Happy Birthday dear Ben
Happy Birthday to you

Have a go at defining a function that multiplies two numbers together, adds 5, and prints the result.  
Then call it with some numbers to test it out.

In [30]:
def multiply_and_add_5(x, y):
    z = (x * y) + 5
    print (z)

multiply_and_add_5(3, 2)
multiply_and_add_5(9, 9)

11
86

#### Logical Operators

The following statement should evaluate to True, run this cell to make sure:

In [31]:
print(1 + 2 == 3)

True

The following statement should evaluate to False, run this cell to make sure:

In [32]:
print(1 + 2 == 5)

False

Have a go at writing statements that evaluate to True.  
Fill in the right hand and left hand sides of these statements so that they evaluate to True:

In [33]:
print(True == True)
print(False != True)
print(4 < 5)
print(5 > 4)
print(5 >= 5)
print(10 <= 100)

True
True
True
True
True
True

Have a go at writing statements that evaluate to False.  
Fill in the right hand and left hand sides of these statements so that they evaluate to False:

In [34]:
print(True == False)
print(False != False)
print(1000 < 0)
print(1 > 1)
print(1 >= 1.00001)
print(2 <= 1)

False
False
False
False
False
False

Choose a number:

In [35]:
num = 5

Run this cell to describe your number

In [36]:
if num < 0:
    print("{} is negative".format(num))
elif num > 0:
    print("{} is positive".format(num))
else:
    print("{} is zero".format(num))

if num != 5:
    print("{} is not five".format(num))
else:
    print("{} is five".format(num))

5 is positive
5 is five

Have a go at defining your own if/elif/else clauses to describe `num`

In [37]:
if num % 2 == 0:
    print("{} is even".format(num))
else:
    print("{} is odd".format(num))

if 3 < num < 50:
    print("{} is between 3 and 50".format(num))
elif num == 1:
    print("{} is one".format(one))
else:
    print("{} is neither one, nor is it between 3 or 50")

5 is odd
5 is between 3 and 50

Choose a type of swallow out of `"European"` or `"African"`, then call the function below with that type to find its unladen air speed velocity

In [38]:
def swallow_velocity(type):
    if type == "European":
        print("12 m/s")
    elif type == "African":
        print("10 m/s")
    else:
        print("I don't know that type of swallow")

swallow_velocity("European")

12 m/s

Fill in the function below.  
Do some error checking to make sure the number passed isn't negative.  
Then print the square root of the number.  
_Hint: Square root of a number is the number raised to the power of 0.5_

In [39]:
def print_square_root(x):
    if x < 0:
        print('{} is less than zero')
    else:
        print(x ** 0.5)

Using your function, check the square root of 41370624

In [40]:
print_square_root(41370624)

6432.0

We can chain logical operators together using "and".  
Define a new variable `num` with a float or integer.  
Try running this cell to describe `num`.

In [41]:
num = 6

if (num % 2 == 0) and (num % 3 == 0):
    print("{} is divisible by six".format(num))
else:
    print("{} is not divisible by six".format(num))

if isinstance(num, int) and (num > 0) and (num < 10):
    print("{} is a positive single digit".format(num))

6 is divisible by six
6 is a positive single digit

We can also chain logical operators together using "or".  
Choose a halogen.  
Then run this cell to print the state of the halogen at room temperature.

In [42]:
halogen = "astatine"

if halogen == "chlorine" or halogen == "fluorine":
    state = "gas"
elif halogen == "iodine" or halogen == "astatine":
    state = "solid"
elif halogen == "bromine":
    state = "liquid"
else:
    state = None

if state is not None:
    print("{} is a {} at room temperature".format(halogen, state))
else:
    print("{} is not a halogen".format(halogen))

astatine is a solid at room temperature

Now have a go at this yourself!   
Define a variable and test it out with   
your own "or" and "and" conditional statements

In [43]:
my_int = 5

if not isinstance(my_int, int):
    print("{} is not an integer")
elif isinstance(my_int, int) and (my_int <= -10 or my_int >= 10):
    print("{} is not a single digit".format(my_int))
else:
    print("{} is a single digit".format(my_int))

5 is a single digit

You can check whether something is in a string or a list, or if a key is in a dict, using the `in` keyword.  
Try this out by running the three cells below.

In [44]:
# String
string_1 = "Ni"
string_2 = "We are the knights who say 'Ni!'"

if string_1 in string_2:
    print("String 1 is a substring of String 2")
else:
    print("String 1 is not a substring of String 2")

String 1 is a substring of String 2

In [45]:
# List
most_common_pets = ['dog', 'cat', 'hamster', 'fish', 'mouse', 'guinea pig', 'bird', 'lizard', 'snake']

my_pet = 'ferret'

if my_pet in most_common_pets:
    print("Your {} is a regular pet".format(my_pet))
elif my_pet == '':
    print("You don't have a pet")
else:
    print("Your {} is an odd pet".format(my_pet))

Your ferret is an odd pet

In [46]:
# Dict
stadia = {
    'Arsenal': 'Emirates Stadium',
    'Chelsea': 'Stamford Bridge',
    'Everton': 'Goodison Park',
    'Liverpool': 'Anfield',
    'Manchester United': 'Old Trafford',
    'Manchester City': 'Etihad Stadium'
}

# Fill in the variable with your favourite team
my_fave_team = 'Arsenal'

if my_fave_team in stadia:
    print("The stadium for {} is {}".format(my_fave_team, stadia[my_fave_team]))
else:
    print("Sorry I don't have the stadium for {}".format(my_fave_team))

The stadium for Arsenal is Emirates Stadium

The `append()` method will append an item to a list.  
Define a function that will check if the item is in the list.  
If the item is not in the list, append it to the list.  
Then print the list. Try this out with a few items.

In [47]:
def append_to_list_if_not_present(current_list, item):
    if item not in current_list:
        current_list.append(item)
    print(current_list)
    return current_list

my_list = ['This', 'is', 'my', 'list']
my_list = append_to_list_if_not_present(my_list, 'hello')
my_list = append_to_list_if_not_present(my_list, 'world')
my_list = append_to_list_if_not_present(my_list, 'hello')
my_list = append_to_list_if_not_present(my_list, 'is')
my_list = append_to_list_if_not_present(my_list, 1459)

['This', 'is', 'my', 'list', 'hello']
['This', 'is', 'my', 'list', 'hello', 'world']
['This', 'is', 'my', 'list', 'hello', 'world']
['This', 'is', 'my', 'list', 'hello', 'world']
['This', 'is', 'my', 'list', 'hello', 'world', 1459]

## Section 3 - Loops

The range function will give you a list of numbers between two given numbers.  
Assign integers to two variables `x` and `y`.  
Then call range on these numbers to get the integers between x and y.  
Then loop through this range and print each number between x and y.

In [48]:
x = 5
y = 10
for i in range(x, y):
    print(i)

5
6
7
8
9

Now loop through this range and print the square of each number between x and y

In [49]:
for i in range(x, y):
    print(i ** 2)

25
36
49
64
81

You can loop through a list and run conditionals on each number.

In [50]:
# You can loop through the list and run conditionals on each number
for missing_limbs in range(0, 5):
    if missing_limbs == 0:
        print("None Shall Pass")
    elif missing_limbs == 1:
        print("Tis but a scratch")
    elif missing_limbs == 2:
        print("It's just a flesh wound")
    elif missing_limbs == 3:
        print("I'm Invincible")
    elif missing_limbs == 4:
        print("All right, we'll call it a draw.")

None Shall Pass
Tis but a scratch
It's just a flesh wound
I'm Invincible
All right, we'll call it a draw.

Assign two variables to integers, then have a go at looping through each integer between these numbers are exactly divisible by 4.   

If the number is divisible by 4, print out one quarter of this number.

In [51]:
for i in range(150, 175):
    if i % 4 == 0:
        print("One quarter of {} is {}".format(i, i * 0.25))

One quarter of 152 is 38.0
One quarter of 156 is 39.0
One quarter of 160 is 40.0
One quarter of 164 is 41.0
One quarter of 168 is 42.0
One quarter of 172 is 43.0

You can iterate through a list and break when a requirement is met, run the cell below to see this in action.

In [52]:
food_list = ["Spaghetti", "Coconuts", "Spam", "Eggs"]

for food in food_list:
    if food == "Spam":
        print("Yum, spam!")
        break
    else:
        print("I don't want " + food + ", I want spam")

I don't want Spaghetti, I want spam
I don't want Coconuts, I want spam
Yum, spam!

If you iterate through a dict, you actually iterate through the keys in the dict.

In [53]:
stock_prices = {'IBM': 131.80, 'MSFT': 105.66, 'CSCO': 45.26, 'AAPL': 152.21, 'HTHIY': 67.76}
for stock in stock_prices:
    print("The price of {} is ${}".format(stock, stock_prices[stock]))

The price of AAPL is $152.21
The price of HTHIY is $67.76
The price of CSCO is $45.26
The price of IBM is $131.8
The price of MSFT is $105.66

Have a go at this yourself, define your own key-value pairs in a dict.  
Iterate through the keys and print the key and the value.

In [54]:
my_key_pairs = {'key1': 14, 'key2': 'Hello', 'key3': 'World'}

for key in my_key_pairs:
    print("The Value of {} is {}".format(key, my_key_pairs[key]))

The Value of key3 is World
The Value of key2 is Hello
The Value of key1 is 14

While loops allow you to iterate through until a condition is met.
Run the cell below to see an example.

In [55]:
a = 5
b = 1
while b < a:
    print("{} is less than {}".format(b, a))
    b += 1
print("{} is not less than {}".format(b, a))

1 is less than 5
2 is less than 5
3 is less than 5
4 is less than 5
5 is not less than 5

Have a go at defining your own while loop.  
Define a string and try adding full stops to it until the length of the string is 20.

In [56]:
my_str = "Hello, World"
while len(my_str) < 20:
    my_str += '.'
print(my_str)

Hello, World........

#### List comprehensions

If we have a list defined as follows:

In [57]:
my_list = [1, 4, 5, 7, 8, 10, 12, 15, 16, 20, 24, 28, 30, 35, 38]

Instead of doing the following:

In [58]:
odd_numbers_from_my_list = []
for i in my_list:
    if i % 2 == 1:
        odd_numbers_from_my_list.append(i)
        
odd_numbers_from_my_list

[1, 5, 7, 15, 35]

We can write:

In [59]:
odd_numbers_from_my_list = [i for i in my_list if i % 2 == 1]

odd_numbers_from_my_list

[1, 5, 7, 15, 35]

Write a list comprehension that does the same as the following statement:

In [60]:
cubed_even_numbers = []

for i in my_list:
    if i % 2 == 0:
        cubed_even_numbers.append(i ** 3)

cubed_even_numbers

[64, 512, 1000, 1728, 4096, 8000, 13824, 21952, 27000, 54872]

In [61]:
cubed_even_numbers = [i ** 3 for i in my_list if i % 2 == 0]

cubed_even_numbers

[64, 512, 1000, 1728, 4096, 8000, 13824, 21952, 27000, 54872]

## Section 4 - Exercises

__For each of the exercises below, carry out the instructions then try out your functions with the test cases given and make sure you don't get an assertion error__

Define a function `power` that takes two paramaters: `x` and `y`  
Return the value of the `x` to the power of `y`

In [62]:
# Write your function here
def power(x, y):
    return x ** y

In [63]:
# Now test your function
test_1 = power(4, 5) == 1024
test_2 = power(6, 3) == 216
test_3 = power(10, 10) == 10000000000
test_4 = power(4, -0.5) == 0.5
test_5 = power(6561, 0.125) == 3

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Write a function `is_vowel` that takes a character (i.e. a string of length 1)  
and returns `True` if it is a vowel or `False` otherwise

In [64]:
def is_vowel(char):
    if char in ('aeiou'):
        return True
    else:
        return False

In [65]:
test_1 = is_vowel('a')
test_2 = not is_vowel('q')
test_3 = is_vowel('e')
test_4 = not is_vowel('9')
test_5 = not is_vowel(';')
test_6 = is_vowel('u')

if all([test_1, test_2, test_3, test_4, test_5, test_6]) and (test_1 is True):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `volume_from_dimensions` that takes 3 parameters: length, width and depth in cm.  
Return the volume in litres  
_Hint: 1 litre = 1dm<sup>3</sup>_

In [66]:
def volume_from_dimensions(length, width, depth):
    return length * width * depth * (10 ** -3)

In [67]:
test_1 = volume_from_dimensions(10, 5, 1) == 0.05
test_2 = volume_from_dimensions(15, 15, 15) == 3.375
test_3 = volume_from_dimensions(14, 0, 12) == 0
test_4 = volume_from_dimensions(100, 200, 300) == 6000

if all([test_1, test_2, test_3, test_4]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `pythagoras` that takes 2 numerical parameters: length and width of a right-angled triangle  
Return the length of the hypotenuse

In [68]:
def pythagoras(length, width):
    hypotenuse = ((length ** 2) + (width ** 2)) ** 0.5
    return hypotenuse

In [69]:
test_1 = pythagoras(3, 4) == 5
test_2 = pythagoras(5, 12) == 13
test_3 = pythagoras(9, 40) == 41
test_4 = pythagoras(58, 840) == 842
test_5 = pythagoras(0, 10) == 10

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `factorial` that takes 1 integer parameter: `x`  
Return x! ("x factorial")

In [70]:
def factorial(x):
    y = 1
    while x > 0:
        y *= x
        x -= 1
    return y

In [71]:
test_1 = factorial(4) == 24
test_2 = factorial(20) == 2432902008176640000
test_3 = factorial(0) == 1
test_4 = factorial(1) == 1
test_5 = factorial(5) == 120

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `compound_interest` that takes 3 parameters: 
* an amount saved
* an annual interest rate
* and a number of years  

Return the value of the savings to the nearest penny at the end of the period assuming the interest is paid once a year.

In [72]:
def compound_interest(saved, interest_rate, years):
    interest_rate = (interest_rate / 100.0) + 1
    end_value = saved * (interest_rate ** years)
    return round(end_value, 2)

In [73]:
test_1 = compound_interest(20, 5, 15) == 41.58
test_2 = compound_interest(1000, 10, 10) == 2593.74
test_3 = compound_interest(75, 12, 15) == 410.52
test_4 = compound_interest(0, 12, 15) == 0
test_5 = compound_interest(10000, 1, 50) == 16446.32

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `numbers_divisible_by_5` that takes two integer parameters and returns a list with all the numbers between these two numbers (inclusive) that are divisible by 5.

In [74]:
def numbers_divisible_by_5(x, y):
    my_list = []
    for i in range(x, y+1):
        if i % 5 == 0:
            my_list.append(i)
    return my_list

In [75]:
test_1 = numbers_divisible_by_5(4, 6) == [5]
test_2 = numbers_divisible_by_5(96, 123) == [100, 105, 110, 115, 120]
test_3 = numbers_divisible_by_5(95, 125) == [95, 100, 105, 110, 115, 120, 125]
test_4 = numbers_divisible_by_5(-3, 6) == [0, 5]
test_5 = numbers_divisible_by_5(6, 9) == []

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `fibonacci` that takes 1 positive integer parameter.  
Return a list of the first n numbers in the fibonacci sequence

In [76]:
def fibonacci(n):
    seq = []
    j = k = 1
    if n > 0:
        seq.append(j)
    if n > 1:
        seq.append(k)
        for i in range(n-2):
            seq.append(j + k)
            if i % 2 == 0:
                j = j + k
            else:
                k = j + k
    return seq

In [77]:
test_1 = fibonacci(1) == [1]
test_2 = fibonacci(2) == [1, 1]
test_3 = fibonacci(3) == [1, 1, 2]
test_4 = fibonacci(7) == [1, 1, 2, 3, 5, 8, 13]
test_5 = fibonacci(20)[-1] == 6765

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Define a function `max_in_list` that takes a list of numbers as a parameter.  
Return the highest number in the list, without using the max function.

In [78]:
def max_in_list(input_list):
    max_so_far = None
    for item in input_list:
        if not max_so_far:
            max_so_far = item
        elif max_so_far < item:
            max_so_far = item
    return max_so_far

In [79]:
test_1 = max_in_list([0, 3, 4, 323.12, 7, 9]) == 323.12
test_2 = max_in_list([0, 0, 0, 0, 0, 0]) == 0
test_3 = max_in_list([-5, -4, -3, -10, -20, -50]) == -3
test_4 = max_in_list([-5, -4, -3, 20, -20, 55]) == 55
test_5 = max_in_list([60, 60, 20, 20, 40, 40]) == 60
test_6 = max_in_list([]) == None

if all([test_1, test_2, test_3, test_4, test_5, test_6]):
    print("PASSED")
else:
    print("FAILED")

PASSED

Write a function `lengths_of_words` that takes a string and returns a list of lengths of words in the list.

In [80]:
def lengths_of_words(my_str):
    words = my_str.split(' ')
    word_lengths = []
    for word in words:
        word_lengths.append(len(word))
    return word_lengths

In [81]:
test_1 = lengths_of_words('My dog Spot') == [2, 3, 4]
test_2 = lengths_of_words('The quick brown fox jumps over the lazy dog') == [3, 5, 5, 3, 5, 4, 3, 4, 3]
test_3 = lengths_of_words('Antidisestablishmentarianism') == [28]
test_4 = lengths_of_words('') == [0]
test_5 = lengths_of_words('Nobody expects the Spanish Inquisition') == [6, 7, 3, 7, 11]

if all([test_1, test_2, test_3, test_4, test_5]):
    print("PASSED")
else:
    print("FAILED")

PASSED

_For more exercises, have a go at the exercises on Hacker Rank_

## Section 5 - Modules

You can import individual variables/functions/classes from a module into your namespace

In [82]:
from math import pi
print(pi)

3.14159265359

Or you can import all variables from a module and call them using module.variable

In [83]:
import math
print(math.log10(10000))

4.0

Have a go at importing `cos` and `pi` from the math module
Print the cosine of pi

In [84]:
from math import cos, pi
cos(pi)

-1.0

The random module has a function randint which takes in two parameters, a lower integer and an upper integer and returns an integer between those two numbers (inclusive).


Use the randint function to roll a six-sided die and a 10-sided die and add the results together

In [85]:
import random
random.randint(1, 6) + random.randint(1, 10)

9

## Section 6 - Dates and Times

Import the `datetime` module and use a `date` and `timedelta`  
to work out what the date is 10,000 days after you were born.  
Is this date in the future or the past?

In [86]:
import datetime
datetime.date(1990, 5, 4) + datetime.timedelta(days=10000)

datetime.date(2017, 9, 19)

Use `datetime.datetime.strptime` to convert these strings into datetime  
_Hint: If you need help, visit strftime.org_

In [87]:
date_1_str = '2017-12-25 04:00'
datetime.datetime.strptime(date_1_str, '%Y-%m-%d %H:%M')

datetime.datetime(2017, 12, 25, 4, 0)

In [88]:
date_2_str = '2017-01-01 01:00:00'
datetime.datetime.strptime(date_2_str, '%Y-%m-%d %H:%M:%S')

datetime.datetime(2017, 1, 1, 1, 0)

In [89]:
date_3_str = '23/04/2012 03:04:24'
datetime.datetime.strptime(date_3_str, '%d/%m/%Y %H:%M:%S')

datetime.datetime(2012, 4, 23, 3, 4, 24)

In [90]:
date_4_str = '12/31/14 13:34'
datetime.datetime.strptime(date_4_str, '%m/%d/%y %H:%M')

datetime.datetime(2014, 12, 31, 13, 34)

In [91]:
date_5_str = '2015-10-01T10:03:10'
datetime.datetime.strptime(date_5_str, '%Y-%m-%dT%H:%M:%S')

datetime.datetime(2015, 10, 1, 10, 3, 10)

Convert the date in the cell below into the string formats below  
_Hint: If you need help, visit strftime.org_

In [92]:
my_dt = datetime.datetime(2010, 4, 5, 17, 11, 54)

In [93]:
# "2010/04/05 17:11:54"
my_dt.strftime('%Y/%m/%d %H:%M:%S')

'2010/04/05 17:11:54'

In [94]:
# "17:11:54 on 5 April 2010"
my_dt.strftime('%H:%M:%S on %-d %B %Y')

'17:11:54 on 5 April 2010'

In [95]:
# "2010-04-05T17:11:54
my_dt.strftime('%Y-%m-%dT%H:%M:%S')

'2010-04-05T17:11:54'

In [96]:
# "5:11:54 PM"
my_dt.strftime("%-I:%M:%S %p")

'5:11:54 PM'

In [97]:
# "Monday"
my_dt.strftime("%A")

'Monday'

Now have a go at converting this string from  
`"1989-11-09 19:17:00"`  
To "17 minutes past 7 on November 9, 1989"

In [98]:
start_str = "1989-11-09 19:17:00"
as_dt = datetime.datetime.strptime(start_str, "%Y-%m-%d %H:%M:%S")
end_str = datetime.datetime.strftime(as_dt, "%M minutes past %-I on %B %-d, %Y")
print(end_str)

17 minutes past 7 on November 9, 1989

The `datetime.datetime` class has a method `utcnow()`, use it to show you the time now in UTC

In [99]:
datetime.datetime.utcnow()

datetime.datetime(2019, 1, 23, 17, 5, 17, 859469)

Assign the current date to a variable named `today`.  
LinkedIn was acquired by Microsoft on 8th December 2016.  
How many days has it been?

In [100]:
# Note the output will be different depending on the date you do this
today = datetime.datetime.utcnow().date()
acquisition = datetime.date(2016, 8, 12)

print((today - acquisition).days)

894

How many seconds are there between 04:05:12 on 17/09/2014 and 17:32:15 on 17/09/2018  
How many hours is this?  
How many days?

In [101]:
a = datetime.datetime(2014, 9, 17, 4, 5, 12)
b = datetime.datetime(2018, 9, 17, 17, 32, 15)

print((b - a).total_seconds())
print((b - a).total_seconds() / 3600.0)
print((b - a).total_seconds() / 3600.0 / 24.0)
print((b - a).days)

126278823.0
35077.4508333
1461.56045139
1461

#### Talking Clock

We're going to write a `talking_clock` function!  
Write a function that takes no parameters  
This function should calculate what the time will be in 3 seconds  
Print "At the beep, the time will be 12:04 and 34 seconds" (But with what the time will be in 3 seconds)  
Then wait for 3 seconds  
Then print "Beep!"  
_Hint: To wait in python, you will need to import the time module and use `time.sleep(<seconds>)`_

In [102]:
# Write your talking clock function here
import time
import sys

def talking_clock():
    time_now = datetime.datetime.utcnow()
    in_three_seconds = time_now + datetime.timedelta(seconds=3)
    print(datetime.datetime.strftime(in_three_seconds, "At the beep the time will be %H:%M and %S seconds"))
    # This line is required to print the first line
    # Otherwise the output will be cached and all returned at once
    sys.stdout.flush()
    time.sleep(3)
    print("Beep!")

In [103]:
# Call your talking clock function here
talking_clock()

At the beep the time will be 17:05 and 21 seconds
Beep!