### Cars

Run the cell below to get a Data Frame with information on cars from different countries, including cars per capita and whether they drive on the right or the left.

This data set is from Data Camp so may be familiar to some.

In [ ]:
import pandas as pd
import numpy as np

cars = pd.DataFrame([
    {'cars_per_cap': 809, 'country': 'United States', 'drives_right': True},
    {'cars_per_cap': 731, 'country': 'Australia', 'drives_right': False},
    {'cars_per_cap': 588, 'country': 'Japan', 'drives_right': False},
    {'cars_per_cap': 18, 'country': 'India', 'drives_right': False},
    {'cars_per_cap': 200, 'country': 'Russia', 'drives_right': True},
    {'cars_per_cap': 70, 'country': 'Morocco', 'drives_right': True},
    {'cars_per_cap': 45, 'country': 'Egypt', 'drives_right': True}
], index=['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG'])

cars

Print out the first 4 observations (rows) using `iloc`.

Print out the 6th and 7th observations

Print out the observations from Japan and Morocco.

Print out just the columns `"cars_per_cap"` and `"drives_right"`.

Print out just the rows where they drive on right in that country.

### Tech Firms

Run the cell below to load in some data into a Data Frame.

In [ ]:
tech_firms = pd.read_json('data/tech_firms.json')
tech_firms

How many companies are in this data frame?

Set the index of the Data Frame to be the `"Company"` column.

The financial year (`"FY"`) is the same for each company and isn't really necessary, drop this column from the table.

Huawei's Market Cap is officially a secret, but is estimated to be around $7.18B, fill in the market capitalisation for `Huawei` with this value:

In [ ]:
# your code here

The employee number figures are given below in the variable employees. 

Add a new column named 'Employees' to your Data Frame.

In [ ]:
employees = [116000, 341400, 325000, 726772, 72053, 114000, 303887,
             414400, 180000, 128400, 257533, 138000, 106000, 195000]

# your code here

tech_firms.head()

What is Microsoft's revenue per employee?

Select all the companies with a `"Headquarters"` in either `"Tokyo, Japan"` or `"Osaka, Japan"`. (Don't set this to a variable.)

Select all the companies with more than 200,000 employees that have a market capitalisation of over $100 billion. (Don't set this to a variable.)

Sort the data frame by alphabetical order of the company.

What is the minimum market capitalisation of the companies with a revenue more than $75 billion?

What is the mean revenue of all the companies?

What is the total market capitalisation of all the companies?