### House Prices

We have data for the house prices on one road, and we want to know the price per bedroom for these houses.

In [ ]:
import pandas as pd

houses = pd.DataFrame([
    [3, 2, 1945, "£445,000"],
    [2, 1, 1975, "£300,000"],
    [1, 1, 2013, "£240,000"],
    [2, None, 1945, "£314,000"],
    [1, 1, 2011, "£265,000"],
    [3, None, 1992, "£384,000"],
    [4, 2, 1986, "£498,000"],
])

houses

Rename the columns as `"Bedrooms"`, `"Bathrooms"`, `"Year Built"` and `"Price"`

There are missing values for two of the houses' number of bedrooms.

Fill these in with their number of bedrooms instead.

Write a function to remove the `"£"` and `","` from the string and return the price as a numerical value instead of a string. Map this function to the price column.

What is the average price per bedroom for a house on this road?

### Superstore Returns

Load the superstore data we used in the previous section by running the cell below:

In [ ]:
superstore_sales = pd.read_csv('data/superstore_sales.csv')
# show top 5 rows
superstore_sales.head()

From this data frame, select only the `"Row ID"`, `"Order ID"`, `"Shipping Cost"` and `"Profit"` columns

We will now load a second Data Frame with all the returned orders data for this superstore.

In [ ]:
superstore_returns = pd.read_csv('data/superstore_returns.csv')
superstore_returns.head()

Merge the two data frames together using an outer join on the column `"Order ID"`.

Show the first 5 rows of the merged dataframe using the `head()` method.

Note that the `"Status"` row is mostly missing as it is now only filled in for the rows for which orders were returned.

Fill the null `Status` values with the string `"Not Returned"`.

We want to calculate a more correct profit figure, given that we know which orders were returned.

The company doesn't pass on shipping costs to its customers.

Therefore, to calculate a more correct profit value:
* Sum up only the profit from the `"Not Returned"` columns
* Take away the `"Shipping Costs"` from the `"Returned"` columns

### Cleaning Strings

Some people filled in a form with their first names, last names and heights. 

However the height field was a free text field and there was no error checking. Your job is to clean up these heights.

All the heights are given in metric but the string formats are different

Run the cell below to see the table.

In [ ]:
heights = pd.DataFrame([
    {"first_name": "Stephanie", "last_name": "Bambery", "height": "1.60 metres"},
    {"first_name": "Barnard", "last_name": "Darbey", "height": '1m 80cm'},
    {"first_name": "Gale", "last_name": "Blind", "height": "154"},
    {"first_name": "Corry", "last_name": "Erbe", "height": "1 meter 80"},
    {"first_name": "Godard", "last_name": "Haslam", "height": "170 cm"},
    {"first_name": "Raimundo", "last_name": "Pelman", "height": "172 cm"}, 
    {"first_name": "Evvie", "last_name": "Rathke", "height": "165"},
    {"first_name": "Darius", "last_name": "Hymers", "height": "1.67 m"}
], columns=['first_name', 'last_name', 'height'])

heights

They are currently strings but you would like them as floats in centimetres.

Write a function that will read in all of these height strings, convert them to centimetres, strip out any non-digit characters and return a float.

_Hint: have a look back at the presentation at all of the string transformation functions_
_This is not an easy problem, so you may want to look at the solution for help_