### Iris Data Set

Start by loading in the iris data set below.

In [1]:
import pandas as pd

iris = pd.read_csv('data/iris.csv')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Group the data by species, to get the mean sepal and petal dimensions.

Which species has the widest sepals?  
How about longest petals?

In [2]:
iris.groupby('species').mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

### Sales Data Set

Load our sales data set by running hte cell below

In [3]:
sales = pd.read_csv('data/superstore_sales.csv')

The CEO suspects one of the provinces is not getting as much profit from each sale as it should, what are the mean profit (column name `"Profit"`) figures for each province (column name `"Province"`)? 

Is there one province significantly underperforming compared to the others?

In [4]:
sales.groupby('Province').mean().loc[:, 'Profit'].sort_values()

Province
Nunavut                   35.963418
Newfoundland              83.965122
British Columbia         128.829600
Yukon                    136.253155
Prince Edward Island     148.633697
Manitoba                 172.039294
Alberta                  175.660671
Quebec                   179.803649
Nova Scotia              183.969547
Ontario                  189.960865
Saskachewan              202.336210
Northwest Territories    255.464670
New Brunswick            357.126749
Name: Profit, dtype: float64

However, the CEO realises that perhaps although this underperforming province is making lower mean profit per sale, it could be making lots of sales.

Use value counts to see the number of sales for each province, how does this Province fare compared to the others?

In [5]:
sales['Province'].value_counts()

Ontario                  1826
British Columbia         1126
Saskachewan               913
Alberta                   865
Manitoba                  793
Quebec                    781
Yukon                     542
Nova Scotia               464
Northwest Territories     394
New Brunswick             323
Prince Edward Island      211
Newfoundland               82
Nunavut                    79
Name: Province, dtype: int64

His CFO reminds him that before he goes to fire the manager for this province, he should consider that perhaps it could be caused by a smaller market.

They gather the population figures for each province.

In [6]:
populations = pd.Series({
    'Ontario': 13448494,
    'Quebec': 8164361,
    'Nova Scotia': 923598,
    'New Brunswick': 747101,
    'Manitoba': 1278365,
    'British Columbia': 4648055,
    'Prince Edward Island': 142907,
    'Saskachewan': 1098352,
    'Alberta': 4067175,
    'Newfoundland': 519716,
    'Northwest Territories': 41786,
    'Yukon': 35874,
    'Nunavut': 35944
})

What are the profit figures per capita for each province? Would you still recommend firing the manager for this province?

In [7]:
sales.groupby('Province').sum()['Profit'] / populations

Province
Alberta                  0.037359
British Columbia         0.031209
Manitoba                 0.106720
New Brunswick            0.154399
Newfoundland             0.013248
Northwest Territories    2.408775
Nova Scotia              0.092423
Nunavut                  0.079043
Ontario                  0.025792
Prince Edward Island     0.219455
Quebec                   0.017200
Saskachewan              0.168191
Yukon                    2.058572
dtype: float64