### Absolute values

Define a function `absolute` that takes in a value and returns the absolute value of that number. Don't use python's in-built `abs` function.

In [1]:
def absolute(x):
    if x < 0:
        return x * -1
    else:
        return x

Test your function by running the cell below:

In [2]:
test_1 = absolute(5) == 5
test_2 = absolute(0) == 0
test_3 = absolute(-5.6) == 5.6

if all([test_1, test_2, test_3]):
    print("Passed")
else:
    print("Failed")

Passed

### Vowels

Define a function `is_vowel` that takes a single character as a parameter and returns `True` if the character is a vowel (a, e, i, o or u) and returns `False` otherwise.

In [3]:
def is_vowel(char):
    if char in 'aeiou':
        return True
    else:
        return False

Now run the cell below to test your function

In [4]:
test_1 = is_vowel('a') is True
test_2 = is_vowel('b') is False
test_3 = is_vowel('e') is True
test_4 = is_vowel('q') is False
test_5 = is_vowel('u') is True
test_6 = is_vowel('4') is False
test_7 = is_vowel('y') is False
test_8 = is_vowel('z') is False

if all([test_1, test_2, test_3, test_4, test_5, test_6, test_7, test_8]):
    print("Passed")
else:
    print("Failed")

Passed

### Parsing Email Address Domains

Write a function `get_domain` that takes an email address and returns only the domain of the email address.

e.g. "john.doe@gmail.com" would return "gmail.com"

In [5]:
def get_domain(email):
    split_email = email.split('@')
    domain = split_email[-1]
    return domain

Now run the cell below to test your function on a number of test cases.§

In [6]:
test_1 = get_domain('peter.parker@yahoo.com') == 'yahoo.com'
test_2 = get_domain('tonystark@hitachi.eu') == 'hitachi.eu'
test_3 = get_domain('bruce_wayne@wayne-enterprises.com') == 'wayne-enterprises.com'
test_4 = get_domain('steve-rogers@gmail.com') == 'gmail.com'
test_5 = get_domain('reed-richards@state.university.edu') == 'state.university.edu'
test_6 = get_domain('brucebanner@smash.com') == 'smash.com'

if all([test_1, test_2, test_3, test_4, test_5, test_6]):
    print("Passed")
else:
    print("Failed")

Passed

### Grading University Scores

Define a function `grade` that takes one parameter (score) and prints the grade from this score. The grade cut-off points are:
* 70 - 1st Class
* 60 - 2:1
* 50 - 2:2
* 40 - 3rd Class
* <40 - Fail

In [7]:
def grade(score):
    if score >= 70:
        print("1st Class")
    elif score >= 60:
        print("2:1")
    elif score >= 50:
        print("2:2")
    elif score >= 40:
        print("3rd Class")
    else:
        print("Fail")

Run the cell below to see how well your function does:

In [8]:
grade(75)
grade(70)
grade(69)
grade(60)
grade(55.5)
grade(50)
grade(40)
grade(49.9)
grade(31)
grade(0)

1st Class
1st Class
2:1
2:1
2:2
2:2
3rd Class
3rd Class
Fail
Fail

### Get the maximum

Define a function `maximum` that takes three parameters and prints the largest number of the 3.

In [9]:
def maximum(a, b, c):
    if (a >= b) and (a >= c):
        print(a)
    elif (b >= a) and (b >= c):
        print(b)
    else:
        print(c)

Now try out your function by running the following cell.

How does your function do?

In [10]:
maximum(10, 5, 4)
maximum(7.4, 3.2, 8.1)
maximum(-5, 0, 5)
maximum(12, 4, 12)
maximum(0, 0, 0)
maximum(-10, -30, -20)

10
8.1
5
12
0
-10

### Currency Converter

Define a function `convert_to_gbp`, if the string starts with a `"£"`, strip the pound symbol, convert the remaining string to a float and return the result.

If the strings starts with `"€"` strip the euro symbol from the beginning of the string and divide the resulting number by 1.1 and return the result.

If the string starts with `"$"` strip the dollar symbol from the beginning of the string and divide the resulting number by 1.3 and return the result.

In all cases, round the result to 2 decimal places (pennies) using the `round()` function.

In [11]:
def convert_to_gbp(currency_str):
    if currency_str.startswith('£'):
        pounds = float(currency_str.lstrip('£'))
    elif currency_str.startswith('€'):
        pounds = float(currency_str.lstrip('€')) / 1.1
    elif currency_str.startswith('$'):
        pounds = float(currency_str.lstrip('$')) / 1.3
    else:
        raise ValueError("Expected a string starting with £, €, or $")
    pounds = round(pounds, 2)
    return pounds

Try out the test cases below to see if your currency converter is working as expected:

In [12]:
test_1 = convert_to_gbp('£14.02') == 14.02
test_2 = convert_to_gbp('€4.95') == 4.50
test_3 = convert_to_gbp('$9.10') == 7.00

if all([test_1, test_2, test_3]):
    print("Passed")
else:
    print("Failed")

Passed

### Airline Codes

A common task when working with data is extracting data that comes in as a character string.

Strings are indexed the same way that lists are e.g. `string[4]` will return you the 5th character of the string (zero-indexed), `string[3:]` will return you all characters from the 4th character onwards.

Let's say we have two airlines that format some flight IDs differently.

American European Airlines (AEA) formats their IDs as 3-letter airline code, departure airport code, flight number, and arrival airport code. For example:

* AEA_JFK_3425_LGW
* AEA_MCO_12314_LHR

North Atlantic Airways (NAA) formats their IDs as 3-letter airline code, flight number, departure airport, arrival airport.

* SPA_12312_IAD_LHR
* SPA_487_BOS_DUB

Write a function `parse_airline_code` that takes in a parameter of flight ID and returns a tuple of `(airline, departure_airport, arrival_airport)`.

In [13]:
airport_map = {
    'JFK': 'John F. Kennedy Airport',
    'DUB': 'Dublin Airport',
    'LHR': 'London Heathrow Airport',
    'LGW': 'London Gatwick Airport',
    'MCO': 'Orlando International Airport',
    'BOS': 'Boston Logan International Airport',
    'IAD': 'Washington Dulles International Airport',
    'AMS': 'Amsterdam Airport Schiphol'
}

airline_map = {
    'AEA': 'American European Airlines',
    'NAA': 'North Atlantic Airways'
}


def parse_airline_code(flight_id):
    airline_code = flight_id[:3]
    airline = airline_map[airline_code]
    if airline_code == 'AEA':
        departure_code = flight_id[4:7]
        arrival_code = flight_id[-3:]
    elif airline_code == 'NAA':
        departure_code = flight_id[-7:-4]
        arrival_code = flight_id[-3:]
    departure_airport = airport_map[departure_code]
    arrival_airport = airport_map[arrival_code]
    return (airline, departure_airport, arrival_airport)

Now run the cell below to test your code.

In [14]:
test_1 = parse_airline_code('AEA_LGW_3183_BOS') == (
    'American European Airlines', 'London Gatwick Airport', 'Boston Logan International Airport'
)
test_2 = parse_airline_code('NAA_31293_IAD_DUB') == (
    'North Atlantic Airways', 'Washington Dulles International Airport', 'Dublin Airport'
)
test_3 = parse_airline_code('AEA_MCO_17_LHR') == (
    'American European Airlines', 'Orlando International Airport', 'London Heathrow Airport'
)
test_4 = parse_airline_code('NAA_9457_JFK_AMS') == (
    'North Atlantic Airways', 'John F. Kennedy Airport', 'Amsterdam Airport Schiphol'
)

if all([test_1, test_2, test_3, test_4]):
    print("Passed")
else:
    print("Failed")

Passed